.fondofooter{
<<<<<<< HEAD
	background-image:url('../resources/images/footer.png');
=======
	background-image:url('footer.png');
>>>>>>> 757d2294c4ea3d88af28934e6368bdbe51fa8a86
	background-size:50% 100%;
background-repeat:repeat;}